<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles/login.css">

</head>
<body>
    <div class="login">
        <form style="margin-right: 25%;" method="POST" class="form-control form-control-lg">
            <h3 style="text-align: center;" >Login</h3>
    
            <div class="form-group">
                <label for="email">Email Adresa</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Unesite email adresu" />
            </div>
            <div class="form-group">
                <label for="password1">Lozinka</label>
                <input type="password" class="form-control" id="password1" name="password1" placeholder="Potvrdite lozinku"
                />
            </div>
        <br/>
            <button type="submit" class="btn btn-primary" style="text-align: center;"> Login </button>
        </form>
    
       </div>
    
</body>
</html>