{% extends "Navbar.html" %}

{% block title %}Prijava{% endblock %}

{% block content %} 
    <form method="POST">
        <h3 align="center">Sign up</h3>

        <div class="form-group">
            <label for="email">Email adresa</label>
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email" 
                placeholder="Unesite email"
            />
        </div>
        <div class="form-group">
            <label for="firstName">Ime</label>
            <input 
                type="text" 
                class="form-control" 
                id="firstName" 
                name="firstName" 
                placeholder="Unesite ime"
            />
        </div>
        <div class="form-group">
            <label for="password1">Lozinka</label>
            <input 
                type="password" 
                class="form-control" 
                id="password1" 
                name="password1" 
                placeholder="Unesite lozinku"
            />
        </div>
        <div class="form-group">
            <label for="password2">Lozinka (potvrdite)</label>
            <input 
                type="password" 
                class="form-control" 
                id="password2" 
                name="password2" 
                placeholder="Potvrdite lozinku"
            />
        </div>
    <br />
    <button type="submit" class="btn btn-primary"> Potvrdi </button>
    </form>
{% endblock %}